.auth{
    width: 100%;
    padding: 4rem 2rem;
    margin-top: 20rem;
    background-color: white;
    border-radius: 1rem;
    color: #333;
}
.auth-form{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
gap: 2rem;
}
.auth-form__input{
display: flex;
flex-direction: column;
gap: .3rem;
}
.auth-form__input label{
font-size: 2rem;
font-weight: 700;
}
.auth-form__input input{
padding: .3rem 1rem;
font-size: 2rem;
border: 1px solid #333;
border-radius: 1rem;
}
.actions button{
    background-color: transparent;
    color: #333;
    padding: .3rem 1.4rem;
    font-size: 2rem;
    border-radius: .4rem;
    transition: all .2s;
    cursor: pointer;
}
.actions button:hover,
.actions button:visited{
    background-color: navy;
    color: #fff;
}